<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - QLMB</title>

    @* CSS File *@
    <link rel="stylesheet" href="~/Resources/CSS/Manager.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @* Icon *@
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>


<body>
    @* Thanh điều hướng *@
    <div class="sidebar">

        @* Logo *@
        <div class="logo-content">
            <div class="logo">

                <!-- Hình logo -->
                <img src="~/Resources/Picture/Logo/Logo_DarkMode.png" id="logoImg" />

            </div>
            <i class='bx bx-menu-alt-right' id="btn"></i>
        </div>

        @* Chức năng (Chuyển trang) *@

        <!-- Tránh hiện cài password lần đầu -->
        @if (Session["EmployeeInfo"] != null && ((QLMB.Models.NhanVien)Session["EmployeeInfo"]).MATT == 4)
        {
            <ul class="nav-links">

                @* Trang điều khiển *@
                @*<li>
                 Link 
                <a href="#">
                 Icon 
                <i class='bx bx-grid-alt'></i>
                 Tên 
                <span class="link_name">Thanh điều khiển</span>
                </a>
                 Lúc thu lại 
                <ul class="sub-menu blank">
                        <li><a class="link_name" href="#">Thanh điều khiển</a></li>
                    </ul>
                </li>*@
                @* Role Sự kiện - Ưu đãi *@
                
                @if ( ((QLMB.Models.NhanVien)Session["EmployeeInfo"]).MaChucVu.Trim() == "SKUD")
                {
                    @* Trang Sự kiện *@
                    <li>
                        <div class="iocn-link">
                            <div class="link">
                                <a href="@Url.Action("EventMain","Event")">
                                    <!-- Icon -->
                                    <i class='bx bxs-calendar-event'></i>
                                    <!-- Tên -->
                                    <span class="link_name">Sự kiện</span>
                                </a>
                            </div>
                            @*<i class='bx bxs-chevron-down arrow'></i>*@
                        </div>


                        <!-- Các mục con -->
                        <ul class="sub-menu">
                            <li><a class="link_name" href="@Url.Action("EventMain","Event")">Sự kiện</a></li>
                            @*<li><a href="#">Chưa duyệt</a></li>
                            <li><a href="#">Đã duyệt</a></li>*@
                        </ul>
                    </li>


                    @*Trang Ưu đãi*@
                    <li>
                        <div class="iocn-link">
                            <div class="link">
                                <a href="@Url.Action("SaleMain","Event")">
                                    <!-- Icon -->
                                    <i class='bx bx-purchase-tag-alt'></i>
                                    <!-- Tên -->
                                    <span class="link_name">Ưu đãi</span>
                                </a>
                            </div>
                            @*<i class='bx bxs-chevron-down arrow'></i>*@
                        </div>

                        <!-- Các mục con -->
                        <ul class="sub-menu">
                            <li><a class="link_name" href="@Url.Action("SaleMain","Event")">Ưu đãi</a></li>
                            @*<li><a href="#">Chưa duyệt</a></li>
                            <li><a href="#">Đã duyệt</a></li>*@
                        </ul>
                    </li>
                }



                @* Role Nhân sự *@
                @if ( ((QLMB.Models.NhanVien)Session["EmployeeInfo"]).MaChucVu.Trim() == "NS")
                {
                    @* Trang nhân sự *@
                    <li>
                        <div class="iocn-link">
                            <div class="link">
                                <a href="@Url.Action("Main","HumanResource")">
                                    <!-- Icon -->
                                    <i class='bx bxs-calendar-event'></i>
                                    <!-- Tên -->
                                    <span class="link_name">Nhân sự</span>
                                </a>
                            </div>
                            <i class='bx bxs-chevron-down arrow'></i>
                        </div>

                        @*Các mục con*@
                        <ul class="sub-menu">
                            <li><a class="link_name" href="@Url.Action("Main","HumanResource")">Nhân sự</a></li>
                            <li><a href="@Url.Action("Main","HumanResource")">Trang chủ</a></li>
                            <li><a href="@Url.Action("Register", "HumanResource")">Thêm nhân viên</a></li>
                        </ul>
                    </li>
                }
            </ul>
        }

        <!--Thông tin người dùng-->
        @if (@Session["EmployeeInfo"] != null)
        {
            <div class="profile-content">
                <div class="profile">

                    <a href="@Url.Action("General", "Account")" style="text-decoration: none; color:white">
                        <div class="profile-details">

                            <!-- Hình người dùng-->
                            <i class='bx bx-user' id="userImg"></i>

                            <!-- Thông tin -->
                            <div class="name-job">
                                <!-- Họ tên -->
                                <div class="name">@Session["AccountName"]</div>

                                <!-- Chức vụ -->
                                <div class="job">@(((QLMB.Models.NhanVien)Session["EmployeeInfo"]).ChucVu.TenCV)</div>
                            </div>
                        </div>
                    </a>

                    <!-- Đăng xuất -->
                    <a href="@Url.Action("Logout", "Login")">
                        <i class='bx bx-log-out' style='color:#ffffff' id="log_out"></i>
                    </a>
                </div>
            </div>
        }
    </div>

    @* Nội dung trang *@
    <div class="home-content">
        @RenderBody()
    </div>

    <script src="~/Resources/JavaScript/managerNavBar.js"></script>
</body>
</html>

<!-- Tham khảo -->
@*<i class='bx bxl-c-plus-plus'></i>
    <span class="logo_name">CodingLab</span>*@


@*<li>
        <div class="iocn-link">
            <a href="#">
                <i class='bx bx-plug'></i>
                <span class="link_name">Plugins</span>
            </a>
            <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu">
            <li><a class="link_name" href="#">Plugins</a></li>
            <li><a href="#">UI Face</a></li>
            <li><a href="#">Pigments</a></li>
            <li><a href="#">Box Icons</a></li>
        </ul>
    </li>


    <li>
        <a href="#">
            <i class='bx bx-compass'></i>
            <span class="link_name">Explore</span>
        </a>


        <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Explore</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <i class='bx bx-history'></i>
            <span class="link_name">History</span>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="#">History</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <i class='bx bx-cog'></i>
            <span class="link_name">Setting</span>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Setting</a></li>
        </ul>
    </li>


*@

@*Ký hiệu đăng xuất
    <!--@if (Session["AccountName"] == null)
    {
        <div class="profile-details">-->
            @*<img src="image/profile.jpg" alt="profileImg">
            <!--<i class='bx bx-user' id="userImg"></i>
            <div class="name-job">
                <div class="name">
                    @Html.ActionLink(
                        "Đăng nhập",
                        "Index",
                        "StaffLogin",
                        null,
                        new Dictionary<string, object> {
                            { "class", "text-white" },
                            { "style", "text-decoration: none;"
                        }
                    })
                </div>
            </div>
        </div>
        <a href="@Url.Action("Index", "StaffLogin")">
            <i class='bx bx-user' style='color:#ffffff' id="log_out"></i>
        </a>
    }
    else
    {-->
*@
@*<img src="image/profile.jpg" alt="profileImg">*@