<!DOCTYPE html>
<html lang="vi">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--CSS File-->
    <link rel="stylesheet" href="~/Resources/CSS/Manager.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--Icon-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sidebar">
        <div class="logo-content">
            <div class="logo">
                @*<i class='bx bxl-c-plus-plus'></i>
                    <span class="logo_name">CodingLab</span>*@

                <img src="~/Resources/Picture/Logo/Logo_DarkMode.png" id="logoImg" />
            </div>

            <i class='bx bx-menu-alt-right' id="btn"></i>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Thanh điều khiển</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Category</a></li>
                </ul>
            </li>
            @try
            {
                if (Session["RoleID"].ToString() == "SKUD")
                {
                    @*Sự kiện*@
                    <li>
                        <div class="iocn-link">
                            @*Icon*@
                            <div class="link">
                                <i class='bx bxs-calendar-event'></i>
                                <span>@Html.ActionLink("Sự kiện", "EventMain", "Event", new { @class = "link_name" })</span>
                            </div>
                            <i class='bx bxs-chevron-down arrow'></i>
                        </div>
                        @*Các mục con*@
                        <ul class="sub-menu">
                            <li>
                                <div class="link">
                                    <span>@Html.ActionLink("Sự kiện", "EventMain", "Event", new { @class = "link_name" })</span>
                                </div>
                            </li>
                            <li><a href="#">Chưa duyệt</a></li>
                            <li><a href="#">Đã duyệt</a></li>
                        </ul>
                    </li>
                    @*Ưu đãi*@
                    <li>
                        @*Icon*@
                        <div class="iocn-link">
                            <div class="link">
                                <i class='bx bx-paper-plane'></i>
                                <span>@Html.ActionLink("Ưu đãi", "SaleMain", "Event", new { @class = "link_name" })</span>
                            </div>
                            <i class='bx bxs-chevron-down arrow'></i>
                        </div>
                        @*Các mục con*@
                        <ul class="sub-menu">
                            <li>
                                <div class="link">
                                    <span>@Html.ActionLink("Ưu đãi", "SaleMain", "Event", new { @class = "link_name" })</span>
                                </div>
                            </li>
                            <li><a href="#">Chưa duyệt</a></li>
                            <li><a href="#">Đã duyệt</a></li>
                        </ul>
                    </li>
                }
                @*Nhân sự*@
                if (Session["RoleID"].ToString() == "NS")
                {
                    @*Sự kiện*@
                    <li>
                        <div class="iocn-link">
                            @*Icon*@
                            <div class="link">
                                <i class='bx bxs-calendar-event'></i>
                                <span>@Html.ActionLink("Nhân sự", "HumanResourceMain", "HumanResource", null, new { @class = "link_name" })</span>
                            </div>
                            <i class='bx bxs-chevron-down arrow'></i>
                        </div>
                        @*Các mục con*@
                        <ul class="sub-menu">
                            <li>
                                <div class="link">
                                    <span>@Html.ActionLink("Nhân sự", "HumanResourceMain", "HumanResource", null, new { @class = "link_name" })</span>
                                </div>
                            </li>
                            <li>
                                <a href="@Url.Action("employeeInfo", "Register", new { @class = "link_name" })">Thêm nhân viên</a>
                            </li>
                        </ul>
                    </li>
                }
            }
            catch
            {
                
            }

        </ul>
        <!--Thông tin người dùng-->
        <div class="profile-content">
            <div class="profile">
                @*Ký hiệu đăng xuất*@
                @if (Session["AccountName"] == null)
                {
                    <div class="profile-details">
                        @*<img src="image/profile.jpg" alt="profileImg">*@
                        <i class='bx bx-user' id="userImg"></i>
                        <div class="name-job">
                            <div class="name">
                                @Html.ActionLink(
                                    "Đăng nhập", 
                                    "Index", 
                                    "StaffLogin", 
                                    null, 
                                    new Dictionary<string, object> { 
                                        { "class", "text-white" }, 
                                        { "style", "text-decoration: none;" 
                                    } 
                                })
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "StaffLogin")">
                        <i class='bx bx-user' style='color:#ffffff' id="log_out"></i>
                    </a>
                }
                else
                {
                    <div class="profile-details">
                        @*<img src="image/profile.jpg" alt="profileImg">*@
                        <i class='bx bx-user' id="userImg"></i>
                        <div class="name-job">
                            <div class="name">@Session["AccountName"]</div>
                            <div class="job">@Session["Role"]</div>
                        </div>
                    </div>
                    <a href="@Url.Action("Logout", "StaffLogin")">
                        <i class='bx bx-log-out' style='color:#ffffff' id="log_out"></i>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="home-content">
        @RenderBody()
    </div>

    <script src="~/Resources/JavaScript/managerNavBar.js"></script>
</body>
</html>
@*<li>
        <div class="iocn-link">
            <a href="#">
                <i class='bx bx-plug'></i>
                <span class="link_name">Plugins</span>
            </a>
            <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu">
            <li><a class="link_name" href="#">Plugins</a></li>
            <li><a href="#">UI Face</a></li>
            <li><a href="#">Pigments</a></li>
            <li><a href="#">Box Icons</a></li>
        </ul>
    </li>


    <li>
        <a href="#">
            <i class='bx bx-compass'></i>
            <span class="link_name">Explore</span>
        </a>


        <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Explore</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <i class='bx bx-history'></i>
            <span class="link_name">History</span>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="#">History</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <i class='bx bx-cog'></i>
            <span class="link_name">Setting</span>
        </a>
        <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Setting</a></li>
        </ul>
    </li>*@
