@model QLMB.Models.MatBang
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Manager.cshtml";
}
<link rel='stylesheet' type='text/css' media='screen' href='~/Resources/CSS/FormDetail.css'>

<div class="m-2">
    @Html.ActionLink("Quay lại", "Index", null, new { @class="btn btn-outline-warning mt-2 mb-2" })
</div>
<h2 class="text-uppercase mx-3">Chi tiết mặt bằng</h2>
<hr />
<section class="m-2">
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="col-md-6">
                    <div class="Sold">
                        <table>
                            <tr>
                                <th>Mã mặt bằng</th>
                                <td>@Html.DisplayFor(k => k.MaMB)</td>
                            </tr>
                            <tr>
                                <th>Lầu</th>
                                <td>@Html.DisplayFor(k => k.Lau)</td>
                            </tr>
                            <tr>
                                <th>Diện tích</th>
                                <td>@Html.DisplayFor(k => k.DienTich)</td>
                            </tr>
                            <tr>
                                <th>Khu</th>
                                <td>@Html.DisplayFor(k => k.Khu)</td>
                            </tr>
                            <tr>
                                <th>Tiền thuê</th>
                                <td>@Html.DisplayFor(k => k.TienThue)</td>
                            </tr>
                            <tr>
                                <th>Trạng thái</th>
                                <td>@Html.DisplayFor(k => k.TinhTrang.TenTT)</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 mt-4">
                    @Html.ActionLink("Chỉnh sửa", "Edit", "Property", new { id = Model.MaMB }, new { @class = "btn btn-outline-warning" }) |
                    @Html.ActionLink("Xoá", "Delete", "Property", new { id = Model.MaMB }, new { @class = "btn btn-outline-danger" })
                </div>
            </div>
        </div>
    </div>
</section>
