@model QLMB.Models.MatBang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Manager.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MatBang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienTich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienTich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TienThue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TienThue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang.TenTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang.TenTT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaMB }) |
    @Html.ActionLink("Back to List", "Index")
</p>
