@model QLMB.Models.MatBang

@{
    ViewBag.Title = "Chỉnh sửa mặt bằng";
    Layout = "~/Views/Shared/_Manager.cshtml";
}
@Html.ActionLink(" < Quay lại", "Index", null, new { @class = "btn btn-outline-warning m-2" })

<div class="container">
    <div class="col">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" ng-app="" ng-init="singlePrice=700000;">
                @using (Html.BeginForm("Edit", "Property", FormMethod.Post, new { @name = "property", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="#">
                        <h2 class="text-uppercase text-center pt-3">Chỉnh sửa mặt bằng</h2>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.MaMB)
                    <div class="mb-3">
                        <label for="Lau">Lầu: <span class="text-danger fs-6 mb-2">(*)</span></label>
                        @Html.EditorFor(model => model.Lau, new { htmlAttributes = new { @class = "form-control", ng_model="Lau" } })
                        @Html.ValidationMessageFor(model => model.Lau, "", new { @class = "text-danger" })
                        <p class="text-danger pt-2"
                           ng-show="property.Lau.$touched && property.Lau.$invalid">
                            Số lầu tối thiểu: 1
                            <br />
                            Số lầu tối đa: 7
                        </p>
                    </div>
                        <div class="mb-3">
                            <label for="Khu">Khu: <span class="text-danger fs-6 mb-2">(*)</span></label>
                            <input type="number" name="Khu" class="form-control" ng-model="Khu" />
                            @Html.ValidationMessageFor(model => model.Khu, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            <label for="DienTich">Diện tích: <span class="text-danger fs-6 mb-2">(*)</span></label>
                            <input type="number" class="form-control" ng-model="DienTich" name="DienTich" min="100" max="2000" required />
                            @Html.ValidationMessageFor(model => model.DienTich, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            <label for="TienThue">Tiền thuê: <span class="text-danger fs-6 mb-2">(*)</span></label>
                            @Html.HiddenFor(modelItem => Model.TienThue)
                            <p class="text-danger fs-4" ng-hide="property.DienTich.$invalid">{{ DienTich * singlePrice }}đ</p>
                        </div>
                        @Html.HiddenFor(modelItem => Model.HinhMB)
                        <div class="mb-3">
                            <label for="HinhMB">Hình mặt bằng: <span class="text-danger fs-6 mb-2">(*)</span></label>
                            <input type="file" name="UploadImage" class="form-control" />
                            @Html.ValidationMessageFor(model => model.HinhMB, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            <label for="MATT">Trạng thái: <span class="text-danger fs-6 mb-2">(*)</span></label>
                            @Html.DropDownList("MATT", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MATT, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            <input type="submit" value="Lưu thay đổi" class="btn btn-outline-success mt-2" />
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/angular.min.js"></script>