@model QLMB.Models.ThongTinND

<div class="card-body pb-2">

    <h3>Đổi mật khẩu</h3>

    @using (Html.BeginForm(Html.BeginForm("Profile", "Account", FormMethod.Post, new
    { enctype = "multipart/form-data" })))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.CMND);

        <!-- Mật khẩu hiện tại -->
        <div class="form-group mt-2">
            <label class="form-label">Mật khẩu hiện tại</label>
            @Html.PasswordFor(model => model.currentPassword, new { @class = "form-control" })
            @Html.ValidationMessage("changeCurrentPassword", new { @class = "text-danger mt-1" })
        </div>

        <!-- Mật khẩu mới -->
        <div class="form-group mt-2">
            <label class="form-label">Mật khẩu mới</label>
            @Html.PasswordFor(model => model.password, new { @class = "form-control" })
            @Html.ValidationMessage("changePassword", new { @class = "text-danger mt-1" })
        </div>

        <!-- Nhập lại mật khẩu mới -->
        <div class="form-group mt-2">
            <label class="form-label">Nhập lại mật khẩu mới</label>
            @Html.PasswordFor(model => model.rePassword, new { @class = "form-control" })
            @Html.ValidationMessage("changeRePassword", new { @class = "text-danger mt-1" })
        </div>

        <div class="d-flex flex-row-reverse mt-3">
            <button type="submit" name="type" value="Change Password" class="btn btn-success">Lưu</button>&nbsp;
        </div>
    }
</div>
