@model QLMB.Models.NhanVien

<div>
    <div class="Picture">
        <i class='bx bx-user' style="font-size:200px"></i>
    </div>


    <div class="Sold">
        <table>
            <tr>
                <td>Mã nhân viên</td>
                <td>@Html.DisplayFor(model => model.MaNV)</td>
            </tr>
            <tr>
                <td>Họ tên</td>
                <td>@Html.DisplayFor(model => model.ThongTinND.HoTen)</td>
            </tr>
            <tr>
                <td>Giới tính</td>
                <td>@Html.DisplayFor(model => model.ThongTinND.GioiTinh)</td>
            </tr>
            <tr>
                <td>Ngày sinh</td>
                <td>@Convert.ToDateTime(Model.ThongTinND.NgaySinh).ToString("dd/MM/yyyy")</td>
            </tr>
            <tr>
                <td>CMND/CCCD</td>
                <td>@Html.DisplayFor(model => model.CMND)</td>
            </tr>
            <tr>
                <td>Ngày cấp</td>
                <td>@Convert.ToDateTime(Model.ThongTinND.NgayCap).ToString("dd/MM/yyyy")</td>
            </tr>
            <tr>
                <td>Địa chỉ</td>
                <td>@Html.DisplayFor(model => model.ThongTinND.DiaChi)</td>
            </tr>
            <tr>
                <td>Tình trạng</td>
                <td>@Html.DisplayFor(model => model.TinhTrang.TenTT)</td>
                @Html.DisplayNameFor(model => model.MATT)
            </tr>
        </table>
    </div>
</div>
