@model IEnumerable<QLMB.Models.NhanVien>
@{
    ViewBag.Title = "Quản lý nhân sự";
    Layout = "~/Views/Shared/_Manager.cshtml";
    <link rel="stylesheet" href="~/Resources/CSS/tableInfo.css" />
}

<h2>Quản lý nhân sự</h2>
@using (Html.BeginForm("Main", "HumanResource", FormMethod.Get))
{
    <div class="d-flex justify-content-between mb-3">
        <div class="row">
            <div class="input-group">
                <div class="form-outline" style="margin-right: 5px">
                    <input type="text" class="form-control border border-secondary" placeholder="Tìm kiếm" name="NameSearch" />
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">
                        <i class='bx bx-search'></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            @Html.ActionLink("Thêm nhân viên", "Register", "HumanResource", null, new { @class = "btn btn-success"})
        </div>

    </div>

    <div>
        <div id="table-scroll" class="table-scroll">
            <table id="main-table" class="main-table" style="width: 100%">
                <thead>
                    <tr style="text-align: center">
                        <th>Mã nhân viên</th>
                        <th>Chức vụ</th>
                        <th>Họ tên</th>
                        <th>Tình trạng</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td style="width: 2.5%">@Html.DisplayFor(modelItem => item.MaNV)</td>
                                <td style="width: 4%">@Html.DisplayFor(modelItem => item.ChucVu.TenCV)</td>
                                <td style="width: 10%">@Html.DisplayFor(modelItem => item.ThongTinND.HoTen)</td>
                                <td style="width: 3%">@Html.DisplayFor(modelItem => item.TinhTrang.TenTT)</td>
                                <td style="width: 10%">
                                    @*@Html.ActionLink("Chỉnh sửa", "ProductEdit", new { id = item.IDProduct }) |*@
                                    @Html.ActionLink("Chi tiết", "Detail", new { CMND = item.CMND }, new { @class = "btn btn-outline-primary" })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@*Hiện chữ thông báo*@
@Html.Raw(TempData["msg"])