@model QLMB.Models.DonXinThue

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<h2 class="text-center mt-3 mb-3">Tạo mới</h2>
<div class="container">
    <div class="col">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="mb-3">
                            <label class="mb-2">Mã đơn</label>
                            <div class="#">
                                @Html.EditorFor(model => model.MaDon, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MaDon, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="mb-2">Thời gian xin</label>
                            <div class="#">
                                @Html.EditorFor(model => model.ThoiGianXin, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ThoiGianXin, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="mb-2">Mục đích</label>
                            <div class="#">
                                @Html.EditorFor(model => model.MucDich, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MucDich, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="mb-2">Thời hạn</label>
                            <div class="#">
                                @Html.EditorFor(model => model.ThoiHan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ThoiHan, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="mb-2">Tên đăng nhập</label>
                            <div class="#">
                                @Html.DropDownList("TenDangNhap", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TenDangNhap, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="mb-2">Mã mặt bằng</label>
                            <div class="#">
                                @Html.DropDownList("MaMB", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MaMB, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="mb-2">Mã nhân viên</label>
                            <div class="#">
                                @Html.DropDownList("MaNV", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MaNV, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="mb-2">Trạng thái</label>
                            <div class="#">
                                @Html.DropDownList("MATT", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MATT, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="mb-2">Mã hợp đồng</label>
                            <div class="#">
                                @Html.DropDownList("MaHD", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MaHD, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="col-md-offset-2 text-center">
                                <input type="submit" value="Tạo mới" class="btn btn-success mx-3" />
                                <a href="@Url.Action("Index")" class="btn btn-primary mx-3 mt-3 mb-3"> << Quay lại</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>