@model QLMB.Models.DonXinThue

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DonXinThue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianXin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianXin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MucDich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MucDich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiHan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiHan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiThue.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiThue.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HopDong.MaHD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HopDong.MaHD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatBang.HinhMB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatBang.HinhMB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang.TenTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang.TenTT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
