@model IEnumerable<QLMB.Models.DonXinThue>

@{
    ViewBag.Title = "Quản lí đơn xin thuê mặt bằng";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<h2 class="text-center mt-3 mb-3">Quản lí đơn xin thuê mặt bằng</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create", null, new { @class="btn btn-primary mx-3" })
</p>
<table class="table">
    <tr>
        <th>
            Thời gian xin
        </th>
        <th>
            Mục đích
        </th>
        <th>
            Thời hạn
        </th>
        <th>
            Tên đăng nhập
        </th>
        <th>
            Mã hợp đồng
        </th>
        <th>
            Mạ nhân viên
        </th>
        <th>
            Tình trạng
        </th>
        <th>
            Hành động
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianXin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MucDich)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiHan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiThue.TenDangNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HopDong.MaHD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.MaNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrang.TenTT)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaDon }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MaDon }) |
            @Html.ActionLink("Xoá", "Delete", new { id=item.MaDon })
        </td>
    </tr>
}

</table>
