@model QLMB.Models.NguoiThue
@{
    ViewBag.Title = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2 class="text-center">ĐẶT LẠI MẬT KHẨU</h2>
<div class="container">
    <div class="col">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">


                @using (Html.BeginForm("rePasswordNguoiThue", "ForgetPassword"))
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal m-5">
                    <hr />

                    @*Tên đăng nhập*@
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="MatKhau" class="mb-2">Tên đăng nhập</label>
                        <div class="row">
                            <input type="text" value="@Session["TenDangNhap"].ToString()" name="TenDangNhap" class="form-control" disabled />
                        </div>
                    </div>

                    @*Mật khẩu*@
                    <div class="form-group">
                        <label for="MatKhau" class="mb-2">Mật khẩu</label>
                        <div class="row">
                            @Html.PasswordFor(model => model.MatKhau, new { @class = "form-control" })
                            @Html.ValidationMessage("resetPassword", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*Nhập lại mật khẩu*@
                    <div class="form-group">
                        <label for="MatKhau" class="mb-2">Nhập lại mật khẩu</label>
                        <div class="row">
                            @Html.PasswordFor(model => model.NhapLaiMatKhau, new { @class = "form-control" })
                            @Html.ValidationMessage("reReserPassword", new { @class = "text-danger" })
                        </div>
                    </div>

                    @Html.ValidationMessage("updateError", new { @class = "text-danger mt-1" })

                    <div class="form-group row mt-4">
                        <div class="class=" col-xs-12">
                            <div class="text-center">
                                <input type="submit" name="choice" value="Quay lại" class="btn btn-warning text-white" />
                                <input type="submit" name="choice" value="Xác nhận" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        @Html.ActionLink("Quay lại trang đăng nhập", "LoginPage", "Login", null, new { @style = "text-decoration: none" })
                    </div>
                </div>
                }
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>