@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SkIlL iSsUe :)) - QLMB</title>
    <link href="~/favicon.ico" rel="icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <section class="flex-column mt-5 mb-3">
        <div class="container-fluid">
            <div class="col">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <div>
                            <h1 class="text-center text-danger" style="font-size: 45px";">
                                <span class="text-danger" style="font-size: 65px;">404</span>
                                <br /> 
                                @Session["tempInfo"];
                                SkIlL iSsUe :))
                            </h1>
                        </div>
                        <div>
                            <img src="~/Resources/Picture/SkillIssue/error-404.jpg" class="img-wrapper" style="width: 250px; height: auto;" />
                        </div>
                        <div class="mt-2 mb-2">
                            <p class="fs-4 mt-3">Vui lòng quay lại Trang chủ để sử dụng dịch vụ của chúng tôi</p>
                        </div>
                        <div class="row mt-2 mb-2">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                @using (Html.BeginForm("Index", "SkillIssue"))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="mt-2 mb-2">
                                        <label class="mb-3">Nhập chiều cao của bạn: </label>
                                        <input name="height" type="number" class="form-control" />
                                    </div>
                                    <div class="mt-2 mb-2">
                                        <input type="submit" value="Tính chiều cao" class="btn btn-warning text-white" />
                                    </div>
                                }
                                <p class="text-center text-danger">Bạn cao @ViewBag.DisplayHeight cm!</p>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="mt-1">
                            @Html.ActionLink("Trang chủ", "Index", "Home", null, new { @class = "btn btn-success" })
                            @Html.ActionLink("Chơi game", "Game", "SkillIssue", null, new { @class = "mx-3 btn btn-danger" })
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>
